#name{
  font-family: 'Lato', sans-serif;
}

#description{
  font-family: 'Raleway', sans-serif;
}

.title{
  background-color:#525251;
  color: #EBFAFF;
  padding: 5px 30px;
  border-radius: 5px;
}

body,li{
  background-color: #EBFAFF;
  color: #525251;
}

strong{
  color:#F9A276;
  font-weight: bold;       
}

.abiliity-1{
  font-size:25px;
}

.abiliity-2{
  font-size: 20px;
}

.link { 
  text-decoration: none;
  color: #8AC4FF;
  font-style: italic;
}

.anchor{
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  color:#525251;
}

.round{
  border-radius: 10px;
}